#pong {
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    background: #5c0f61;
}
.paddle {
    width: 10px;
    height: 50px;
    position: absolute;
    background: #000000;
}
#paddleA {
    left: 10px;
}
#paddleB {
    right: 10px;
}
#ball {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
}
.score {
    position: absolute;
    color: #fff;
    font-size: 30px;
}
#scoreA {
    left: 35%;
}
#scoreB {
    right: 35%;
}
